<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="../style/css/about_style.css">


  <!--favicon-->
  <link rel="icon" type="text/css" href="../style/images/logo.png">
  <!--favicon-->

  <title>ABOUT</title>
</head>
<body>
  <div class="piroll_template">
    <!-- header -->
    <header>
        <div class="piroll_header">
          <div class="container clearfix">
            <!-- menu -->
      <div class="h clearfix">
            <nav class="navbar text-right">
              <span class="open-slide">
                <a href="#">
                  <svg width="20" height="25">
                      <path d="M0,5 30,5" stroke="#000" stroke-width="2"/>
                      <path d="M0,14 30,14" stroke="#000" stroke-width="2"/>
                      <path d="M0,23 30,23" stroke="#000" stroke-width="2"/>
                  </svg>
                </a>
              </span>
            </nav>
            <div id="side-menu" class="side-nav">
              <a href="#" class="btn-close">&times;</a>
              <a href="home.html" target="_blank">HOME</a>
              <a href="about.html" target="_blank">ABOUT</a>
              <a href="#contact.html" target="_blank">CONTACT</a>
            </div>

            <div class="nav text-right">
              <a href="#home.html" target="_blank">HOME</a>
              <a href="#about.html" target="_blank">ABOUT</a>
              <a href="#contact.html" target="_blank">CONTACT</a>
            </div>
            <!-- menu -->

            <!-- logo -->
              <div class="logo text-left">
                <img src="../style/images/logo.png" alt="">
              </div>
            <!-- logo -->
      </div>
      <div class="pt clearfix">
        <!-- persentation text -->
        <div class="persentation_text text-center">
          <h3>Amelia Woods</h3>
          <p class="mr_up_20">I am a Graphic & Web Designer based in New York, specializing
            in User Interface Design and Development.</p>
        </div>
        <!-- persentation text -->
      </div>
    </div>
  </div>
</header>
<!-- header -->

<!-- main -->
<main id="main">
  <!-- counters -->
  <section class="counters clearfix">
    <div class="container text-center">
      <div class="counter-item">
        <div class="count_img"><img src="../style/images/svg/portfolio.svg"></div>
        <div class="count_text text-center mr_up_10"><p>548<br>PROJECTS COMPLETED</p></div>
      </div>

      <div class="counter-item mr_up_30">
        <div class="count_img"><img src="../style/images/svg/clock.svg"></div>
        <div class="count_text text-center mr_up_10"><p>1465<br>WORKING HOURS</p></div>
      </div>

      <div class="counter-item mr_up_30">
        <div class="count_img"><img src="../style/images/svg/star.svg"></div>
        <div class="count_text text-center mr_up_10"><p>612<br>POSITIVE FEEDBACKS</p></div>
      </div>

      <div class="counter-item mr_up_30">
        <div class="count_img"><img src="../style/images/svg/like.svg"></div>
        <div class="count_text text-center mr_up_10"><p>735<br>HAPPY CLIENTS</p></div>
      </div>
    </div>
  </section>
  <!-- counters -->

  <!-- about -->
    <section class="about clearfix">
        <div class="container text-center">
          <div class="about_text">
            <h3>About Me</h3>
            <p class="mr_up_20">Divide have don't man wherein air fourth. Own itself make have night won't make.
              A you under Seed appear which good give. Own give air without fowl moveth dry first
              heaven fruit, dominion she'd won't very all.</p>
            <img src="../style/images/about/sign.png">
          </div>

          <div class="img_about">
            <img src="../style/images/about/About.jpg">
          </div>

        </div>
    </section>
  <!-- about -->

  <!-- Need a Project? -->
  <section class="need_project clearfix">
    <div class="container text-center">
      <h3>Need a Project?</h3>
      <p class="mr_up_20">We are a new design studio based in USA. We have over
        20 years of combined experience, and know a thing or two
        about designing websites and mobile apps.</p>
      <a href="#contact.html" target="_blank">
        <button class="animated shake mr_up_25" type="button" href="#">LET'S TALK</button>
      </a>
    </div>
  </section>
  <!-- Need a Project? -->

  <!-- footer -->
  <footer>
    <div class="piroll_footer">
      <div class="container clearfix">
        <div class="inner_footer text-left">
          <div class="t1">
            <h3>Piroll Design, Inc.</h3>
            <p>© 2017 Piroll. All rights reserved.
              <br>Designed by NTD_PTIT.</p>
          </div>

          <div class="t2">
            <p>hello@pirolltheme.com
              <br>+44 987 065 908</p>
          </div>

          <div class="c1">
            <a href="#">Projects</a>
            <br><a href="#about.html" target="_blank">About</a>
            <br><a href="#">Services</a>
            <br><a href="#">Carreer</a></p>
          </div>

          <div class="c2">
            <a href="#">News</a>
            <br><a href="#">Events</a>
            <br><a href="#contact.html" target="_blank">Contact</a>
            <br><a href="#">Legals</a></p>
          </div>

          <div class="c3">
            <a href="#" target="_blank">Facebook</a>
            <br><a href="#" target="_blank">Twitter</a>
            <br><a href="#" target="_blank">Instagram</a>
            <br><a href="#">TikTok</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer -->

</main>
</div>
</body>
</html>
